body{
  margin:0;
}
a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size:50px;
  text-align: center;
  border-bottom: 1.5px gray solid;
  padding: 50px;
  margin: 0px;
}
#grid ol{
  border-right: 1.5px gray solid;
  width:100px;
  margin:0px;
  padding:20px;
  padding-left: 33px
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
  padding: 0px;
}
#grid #article{
  padding-left: 33px;
}
img{
  max-width:100%;
  height:auto;
}
@media(max-width:800px){
  #grid{
    display:block;
  }
  #grid ol{
    border-right: none;
    padding-left: 51px;
  }
  h1 {
  border-bottom: none;
  font-size: 40px;
  }
}
